/* Your Website Styles */

body {
  background: url('img/texture-3.jpg') repeat;
}

.header {
  width: 100%;
  padding: 0 100px 100px 0;
}

header.img {
  height: auto 0;
  width: auto 0;
  padding: 0 100px 100px 0;
}

.subheader {
  margin-top: 32px;
  font-size: 1.05em;
}

#container2  
{    
    width:100%;  
    color:#FFFFFF;  
    position:fixed;  
    float:none;  
    margin:0 0 0 0;  
    overflow:hidden; 

}  
  
#container2 .transparency  
{  
    opacity: 0.15;  
    filter:alpha(opacity=15);  
    -moz-opacity:0.15;  
    background-color:#000000;  
    width:1000px; 
    height:16em;  
    position:absolute;  
    margin: 0 0 0 0;  
    z-index:0;
}  
  

h1 {
  text-align: center;
  font-size: 3.35em;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .03em;
  font-weight: 100;
  color: #E84F63;
  margin: 45px 0 -30px 0;
  padding: 5px 0 0px 25px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 2.05em;
  color: black;
  letter-spacing: .03em;
  padding-bottom: 3px;
  border-bottom-style: solid 1px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 1.32em;
  color: #E84F63;
  letter-spacing: .03em;
  padding-bottom: 3px;
  border-bottom-style: solid 1px #707070;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  text-align: center;
  font-size: .97em;
  color: #707070;
  letter-spacing: .03em;
  padding-bottom: 3px;
}

p {
  font-size: 1.05em;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 300;
  color: #707070;
  line-height: 1.07em;
  letter-spacing: .01em;
}

.logo {
  height: 85px;
  width: 94px;
  padding-left: 630px;
  padding-top: 70px;
  position: relative;
}

.section {
  width: 1000px; 
  margin: auto;
}

.lastname {
  font-weight: 400;
  color: black;
}


/* Icons */

i.fa.fa-heart {
  font-size: 1.25em;
  margin-top: 40px;
  padding-bottom: 40px;
  color: #E84F63;
}

/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: url("../img/texture-3.jpg");
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 1px solid #fff;
  border-radius: 100px;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .5s;
}


/* Show Grid */
.showgrid {
	background: url("../img/texture-1.jpg") repeat;
}